---
import Navigation from './Navigation.astro';
import Hamburguer from './Hamburguer.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
    <nav>
        <Hamburguer />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>
