---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import type { Dataset, Group, Organization } from '~/types';
import ky from 'ky';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const datasets: Dataset[] = await ky('https://t3-dataportal.vercel.app/api/my-portal/datasets/search').json();
const groups: Group[] = await ky('https://t3-dataportal.vercel.app/api/my-portal/group').json();
const organizations: Organization[] = await ky('https://t3-dataportal.vercel.app/api/my-portal/organization').json();
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero callToAction={{ text: 'Search datasets', href: '/search', icon: 'tabler:download' }}>
    <Fragment slot="title">
      Open datasets uploaded using the
      <span class="text-accent dark:text-white highlight">T3-Dataportal</span> DMS
    </Fragment>

    <Fragment slot="subtitle">
      <Stats
        items={[
          { name: 'Datasets', value: datasets.length },
          { name: 'Organizations', value: organizations.length },
          { name: 'Groups', value: groups.length },
        ]}
      />
    </Fragment>
  </Hero>
</Layout>
